<%if session[:admin_logado] != nil && session[:admin_logado] != [] then%>
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">
							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="/pic01.jpg" alt="" /></a>
									<header>
										<h2>Edite um bar</h2>
										</header>
											<% @bares_editar.each do |bar| %>
											<form action="/bares_editar" method="post" >
												<input name="id_editar" value="<%=bar.IdBar%>" type="hidden" />
												Nome: <input type="text" name="nome_editar" value="<%=bar.Nome%>"/>
												Descrição: <textarea name="descricao_editar" rows="2"><%=bar.Descricao%></textarea>
												Endereço: <input type="text" name="endereco_editar" value="<%=bar.Endereco%>"/>
												Telefone: <input type="text" name="telefone_editar" value="<%=bar.Telefone%>" onKeyPress="MascaraTelefone(this);" maxlenght="14"/>
												Email: <input type="text" name="email_editar" value="<%=bar.Email%>"/>
												Dias de funcionamento: <input type="text" name="diasfunc_editar" value="<%=bar.DiasFunc%>"/>
												Horário de funcionamento: <input type="number" name="hinicio" min="0" max="23" size="2" maxlength="2" value="<%=bar.Hinicio%>" onkeypress='return SomenteNumero(event)'>h às <input type="number" name="hfim" min="0" max="23" size="2" maxlength="2" value="<%=bar.Hfim%>" onkeypress='return SomenteNumero(event)'>h <br />
												<input type="submit" value="Salvar" />
											</form>
											<% end %>
								</article>
						</div>
					</div>
				</div>
			</div>
<%end%>