<h1>Bares</h1>

<% if @bares != nil %>
	<ul>
	Busca:
	<form action="/bares_busca" method="get">
		<input name="busca" type="text"/>
		<input type="submit" value="buscar"/>
	</form>
	<!-- O each do funciona de forma semelhante ao "for". Enquanto houver dados na lista, ele repete e lê a próxima variável (bar) da lista.-->
	<% @bares.each do |bar| %>
		<li>
			<!-- Exibe o nome da variável bar. -->
			Nome: <%= bar.Nome.capitalize %><br/>
			<!-- Exibe a descrição da variável bar. -->
			Descrição: <%= bar.Descricao.capitalize %><br/>
			<!-- E assim por diante. -->
			Endereço: <%= bar.Endereco.capitalize %><br/>
			Telefone: <%= bar.Telefone %><br/>
			Email: <%= bar.Email %><br/>
			Dias de funcionamento: <%= bar.DiasFunc %><br/>
		<!-- fazer validação se é adm do site ou só cliente -->
			<form action="/bares_editar" method="get">
				<input name="id_editar" value="<%=bar.IdBar%>" type="hidden"/>
				<input type="submit" value="Editar bar"/>
			</form>
			<form action="/bares_remover" method="post">
				<input name="id_remover" value="<%=bar.IdBar%>" type="hidden"/>
				<input type="submit" value="Remover bar"/>
			</form>
		</li>
	<% end %>
	</ul>
<% else %>
	Sem bares cadastrados.
<% end %>
