<h1>Edite seu bar</h1>

<% @bares_editar.each do |bar| %>
<form action="/bares_editar" method="post" >
	<input name="id_editar" value="<%=bar.IdBar%>" type="hidden" />
	Nome: <input type="text" name="nome_editar" value="<%=bar.Nome%>"/>
	Descrição: <input type="text" name="descricao_editar" value="<%=bar.Descricao%>"/>
	Endereço: <input type="text" name="endereco_editar" value="<%=bar.Endereco%>"/>
	Telefone: <input type="text" name="telefone_editar" value="<%=bar.Telefone%>"/>
	Email: <input type="text" name="email_editar" value="<%=bar.Email%>"/>
	Dias de funcionamento: <input type="text" name="diasfunc_editar" value="<%=bar.DiasFunc%>"/>

	<input type="submit" value="Salvar" />
</form>
<% end %>