	<div id="main-wrapper">
				<div class="container">
						<div class="12u">
						<a href="/bares_cadastro" id="lnk_cadastro">Cadastrar novo bar</a></li>
							<section>


<% if @bares != nil %>
	
	<!-- O each do funciona de forma semelhante ao "for". Enquanto houver dados na lista, ele repete e lê a próxima variável (bar) da lista.-->							
							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Pubs e Bares</h2>
									</header>
									<% i = 0
										while i < 3 do%>
										<div class="row">
										<% @bares.each do |bar| %>
											<div class="4u">
												<section class="box">
													<a href="#" class="image featured"><img src="/<%=bar.IdBar%>.jpg" alt="" /></a>
													<header>
														<h3><%= bar.Nome.capitalize %></h3>
													</header>
													<p><%= bar.Descricao.capitalize %></p>
													<p><b>Telefone: </b><br /><%= bar.Telefone %></p>
													<p><b>Funcionamento: </b><br/><%= bar.DiasFunc %> das <%= bar.Hinicio %> às <%= bar.Hfim %></p>
													<%if session[:admin_logado] != nil && session[:admin_logado] != [] then%>
		    										<footer>
														<a href="#" class="button alt">Leia mais...</a><br />
															<br /><form action="/bares_editar" method="get">
																<input name="id_editar" value="<%=bar.IdBar%>" type="hidden"/>
																<input type="submit" value="Editar bar"/>
															</form><br />
															<form action="/bares_remover" method="post">
																<input name="id_remover" value="<%=bar.IdBar%>" type="hidden"/>
																<input type="submit" value="Remover bar"/>
															</form><br />
													</footer>
													<%end%>
												</section>
											</div>
										<% i += 1 %>
										<% end %>
									    </div>
									<% end %>
								</section>

						</div>
					</div>

			

							<% else %>
								Sem bares cadastrados.
							<% end %>
							</section>

						</div>
					</div>